.wf-loading h1, 
.wf-loading h2, 
.wf-loading h4,
.wf-loading p,
.wf-loading .top-bar,
.wf-loading .button  {
  visibility: hidden;
}

.wf-active h1,
.wf-active h2, 
.wf-active h3,
.wf-active p,
.wf-active .top-bar,
.wf-active .button {
  visibility: visible;
}

body {
  color: #777;
}

.contain-to-grid {
  background-color: rgba(255, 255, 255, 0.9);
  height: 45px;
}

.title-area {
  padding-bottom: 2px;
  text-align: left;
}

.top-bar {
  font-family: 'brandon-grotesque', Helvetica, sans-serif;
  background-color: transparent;
}

.top-bar .name h1 a {
  color: #777;
}

.top-bar-section ul li {
  background: transparent;
}

.top-bar-section ul li > a {
  color: #777; 
  font-family: 'brandon-grotesque', Helvetica, sans-serif;
  background-color: #FFFFFF;
}

.top-bar-section ul.right {
  padding-bottom: 2px;
}

.top-bar-section .right .has-form a {
  color: rgba(60, 74, 35, 1);
}

.top-bar-section .has-dropdown > a:after {
  border-color: #777 transparent transparent transparent;
}

.top-bar-section ul li.active > a {
  background-color: #FFFFFF;
  color: #777;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  background-color: rgba(68, 68, 68, 0.2);
}

.top-bar .toggle-topbar.menu-icon a{
  color: #777;
}

/*** Dropdown arrow ***/
.top-bar .toggle-topbar.menu-icon a span::after {
  box-shadow: 0 0 0 1px #777, 0 7px 0 1px #777, 0 14px 0 1px #777;
}

.top-bar.expanded .title-area {
  background: #FFFFFF;
}

/*** Dropdown Projects link when opened ***/
.top-bar-section .dropdown li.title h5 a, .top-bar-section .dropdown li.parent-link a {
  color: #777;
  border-bottom: 1px solid rgba(119, 119, 119, 0.1);
}

.top-bar-section .dropdown li.parent-link a {
  display: none;
}

h1 {
  font-family: 'brandon-grotesque';
  font-weight: 700;
  letter-spacing: 3px;
  color: #FFFFFF;
}

h2 {
  font-family: 'brandon-grotesque', serif;
  color: #FFFFFF;
}

h3 {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 300;
  color: #777;
  font-size: 2.5em;
}

h4 {
  font-family: 'brandon-grotesque', serif;
  color: #777;
}

h5 {
  font-family: 'brandon-grotesque', serif;
  font-weight: 600;
}

h6#copyright {
  font-family: 'brandon-grotesque';
  color: #777;
  font-size: 14px;
}

h3#description {
  color: #777;
}

p {
  font-family: 'brandon-grotesque', sans-serif;
  font-size: 20px;
}

.hero-panel {
  background-color: #FFFFFF;
  background-image: url('/images/hero-image1.png');
  height: 500px;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

.headline {
  text-align: center;
  padding-top: 7.3rem;
  padding-bottom: 5%;
}

.button {
  font-family: 'brandon-grotesque';
  font-weight: 600;
  background-color: #FFFFFF;
  opacity: 0.9;
  letter-spacing: 3px;
  color: #777;
  margin-top: 1.75rem;
  font-style: normal;
}

.button:hover {
  color: #777;
  background-color: #FFFFFF;
  opacity: 1;
}

#featured {
  text-align: center;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  width: 100%;
}

.portfolio {
  padding: 6rem 0rem;
  text-align: center;;
}

#description {
  padding-top: 3rem;
}

.reflect {
  background-color: #FFFFFF;
  color: #777;
}

.blocbox {
  background-color: #FFFFFF;
  color: #777;
}

.reflect h3, .blocbox h3 {
  color: #777;
}

.reflect a, .blocbox a {
  color: #FFFFFF;
  font-family: 'brandon-grotesque';
  text-transform: uppercase;
  font-size: 20px;
}

.nomcents {
  background-color: rgba(119, 119, 119, 0.1);
}

.nomcents a {
  color: #777;
  font-family: 'brandon-grotesque';
  text-transform: uppercase;
  font-size: 20px;
}

.button.small {
  color: #FFFFFF;
  margin-top: 0.4rem;
  background-color: #B5C064;
}


#cta {
  padding: 5rem 0rem;
  text-align: center;
  color: #777;
}

.container#grey {
  background-color: rgba(119, 119, 119, 0.1);
}

#cta h2 {
  color: #777;
}

#footer {
  background-color: #FFFFFF;
  color: #777;
  font-family: 'brandon-grotesque';
  height: 67px;
}

h6 {
  padding-top: 20px;
  font-size: 17px;
  text-align: center;
}

ul#social {
  list-style-type: none;
  text-align: left;
  padding-top: 17px;
  margin-left: 0;
}

ul#social li {
  display: inline-block;
  margin-right: 20px;
  opacity: 0.6;
}

#copyright {
  text-align: right;
}


/********* ABOUT PAGE **********/


/********
.square {
  width: 100px;
  height: 100px;
  margin: 25px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden;
  border: 3px solid #FFFFFF;
}

.pic {
  background: url(../images/me-photo.jpg);
  width: 150px;
  height: 150px;
  margin: -25px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}********/

#photo {
  background-image: url('../images/me-photo.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
  height: 20rem;
  width: 100%;
}

.titletop {
  padding-left: 0;
}

h1#about-title {
  padding-top: 7rem;
  font-weight: 400;
  text-align: right;
}

.title h3 {
  color: #555;
  font-size: 3rem;
  text-align: left;
  margin-top: -120px;
  padding-left: 0;
  line-height: 55px;
}

.bioimg {
  padding-right: 0;
}

#bio {
  margin-top: 10px;
  font-size: 20px;
}

p#bio {
  font-size: 28px;
}

span {
  text-align: center;
  font-style: italic;
  font-size: 24px; 
}

.bio-button {
  text-align: center;
}

.home {
  font-size: 1.6875rem;
}

.homesummary {
  margin-top: -35px;
}
/************** CONTACT PAGE *************/

#contacthero {
  text-align: center;
  color: #FFFFFF;
  background-image: url('../images/hero-image1.png');
  opacity: 0.9;
  background-attachment: fixed;
}

#contact-title {
  margin-top: 6%;
}

#contacthero a {
  color: #FFFFFF;
}

#contacthero a:hover {
  opacity: 0.7;
}

#contact-title h3 {
  color: #FFFFFF;
}

#contact {
  background-color: #FFFFFF;
  min-height: 300px;
}

.contact-form textarea {
  height: 100px;
}

#submit {
  text-align: center;
  padding-top: 5%;
}

form {
  padding-top: 30px;
}

#contact-footer {
  margin-top: 2.5rem;
}

/*************** REFLECT ***************/

#project-title {
  color: #777;
  text-align: center;
  margin-top: 6%;
  margin-bottom: 6%;
}

#projecthero {
  min-height: 350px;
  margin-top: -20px;
}

.title p {
  text-align: center;
  color: #FFFFFF;
}

img#reflect-landing {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.case-study h3 {
  padding-top: 30px;
  padding-bottom: 20px;
}

.case-study h4 {
  padding-top: 30px;
  padding-bottom: 20px;
}

.case-study p {
  padding-bottom: 20px;
}

.case-study img {
  box-shadow: 1px 2px 3px 1px rgba(68, 68, 68, 0.2);
}

#color-panel {
  background-color: rgba(119, 119, 119, 0.1);
  height: 100%;
  padding-bottom: 2.5rem;
}

#survey {
  width: 130%;
}

.summary, .research {
  padding-top: 30px;
}

img#userstories {
  box-shadow: none;
}

img#wireframes {
  box-shadow: none;
}
/************** BLOCBOX ****************/

#blocproto {
  padding-top: 30px;
  padding-bottom: 30px;
}

#blocidentity {
  background-color: rgba(165, 163, 158, 0.6);
  min-height: 700px;
  padding-top: 30px;
  padding-bottom: 50px;
}

#blocstyleguide {
  padding-top: 30px;
  padding-bottom: 30px;
}

.blocmap {
  padding-top: 30px;
  padding-bottom: 30px;
}

#blocsitemap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.proto {
  background-color: rgba(165, 163, 158, 0.6);
  padding-top: 30px;
  padding-bottom: 30px;
}

/************* NOMCENTS ****************/

#nomwireframes {
  box-shadow: none;
}

#social img {
  box-shadow: none;
}

/************* MEDIA QUERIES *************/

@media only screen and (max-width: 640px) {

  .phone-hide {
    display: none;
  }

  .home {
    padding: 2rem 0 1rem 0;
  }

  #description p {
    padding-bottom: 2rem;
  }

  ul#social {
    text-align: center;
  }

  .top-bar-section ul li {
    background: #FFFFFF;
  }

}

@media only screen and (min-width: 641px) {

  .phone-show {
    display: none;
  }

  #copyright {
    text-align: center;
  }

}
