.contain-to-grid {
  background-color: rgba(68, 68, 68, 0.9);
}

.title-area {
  padding-bottom: 2px;
  text-align: left;
}

.top-bar {
  font-family: 'Montserratlight', Helvetica, sans-serif;
  background-color: transparent;
}

.top-bar-section ul li {
  background: transparent;
}

.top-bar-section ul li > a {
  font-family: 'Montserratlight';
  background-color: #A59F93;
}

.top-bar-section ul li > a.button {
  border: 2px solid #FFFFFF;
  background: #A59F93;
}

.top-bar-section .right .has-form a {
  color: #FFFFFF;
}

h1 {
  font-family: 'Montserrat';
  font-weight: 400;
  color: #FFFFFF;
}

h2 {
  font-family: 'Playfair Display', Helvetica, sans-serif;
  color: #FFFFFF;
}

h3 {
  font-family: 'Montserrathairline', Helvetica, sans-serif;
  color: #444444;
}

h4 {
  font-family: 'Playfair Display', Helvetica, sans-serif;
}

h6#copyright {
  font-family: 'Montserrathairline';
  color: #FFFFFF;
  font-size: 12px;
}

p {
  font-family: 'Playfair Display', Times, serif;
}

header {
  background-image: url('../images/hero-image1.png');
  min-height: 600px;
  background-size: cover;
  width: 100%;
}

.headline {
  text-align: center;
  padding-top: 25%;
}

.button {
  font-family: 'Montserratlight';
  color: #FFFFFF;
  background-color: #5F743A;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 1px 2px 2px rgba(68, 68, 68, 0.2);
  margin-top: 1.5rem;
}

#featured {
  text-align: center;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  width: 100%;
}

.portfolio {
  padding: 6rem 0rem;
  text-align: center;
}

#description {
  padding-top: 3rem;
}

.reflect, .blocbox {
  color: #FFFFFF;
  background-color: #A5A39E;
}

.reflect h3, .blocbox h3 {
  color: #FFFFFF;
}

.button.small {
  margin-top: 0.4rem;
}

#cta {
  padding: 4rem 0rem;
  text-align: center;
  color: #444444;
}

#cta h2 {
  color: #444444;
}

#footer {
  background-color: rgba(68, 68, 68, 0.5);
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Montserratlight';
  margin-top: 50px;
}

h6 {
  padding-top: 20px;
  font-size: 16px;
  text-align: center;
}

ul#social {
  list-style-type: none;
  text-align: center;
  padding-top: 17px;
}

ul#social li {
  display: inline-block;
  margin-right: 20px;
  opacity: 0.6;
}

#copyright {
  text-align: right;
}


/********* ABOUT PAGE **********/

#abouthero {
  background-image: none;
  background-color: #86A253;
  min-height: 175px;
}

.about {
  background-image: none;
  min-height: 200px;
}

/********
.square {
  width: 100px;
  height: 100px;
  margin: 25px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden;
  border: 3px solid #FFFFFF;
}

.pic {
  background: url(../images/me-photo.jpg);
  width: 150px;
  height: 150px;
  margin: -25px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}********/

.photo {
  content: url('../images/bio.png');
  height: auto;
  width: auto;
  max-width: 250px;
  max-height: 250px;
  margin-top: -150px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

h3#title {
  text-align: center;
  color: #444444;
  margin-top: 20px;
}

#bio {
  margin-top: 20px;
}

p#bio {
  font-size: 28px;
}

.bio-button {
  text-align: center;
}

/************** CONTACT PAGE *************/

#contacthero {
  text-align: center;
}

#contact-title {
  margin-top: 75px;
}
#contact {
  background-color: #C1D7A0;
  min-height: 300px;
}

#submit {
  text-align: center;
}

form {
  padding-top: 30px;
}
